
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Concluido</title>
</head>
<body>
    <div> 
        <h1>Agendamento concluído</h1>
        @Html.ActionLink("Menu", "Index", "Home")
    </div>
</body>
</html>
