
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/Scripts/HomePage.css" media="screen" />
</head>
<body>
    <header class="header">
        <h1>Barbearia Paulista</h1>
        <nav>
            <a>Agendamento</a>
            <a>Produtos</a>
            <a>Sobre</a>
            <a>Contato</a>
        </nav>
    </header>

    <figure class="banner">

    </figure>



</body>
</html>
