
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Alterado</title>
    <h1>Alteração concluída</h1>
    @Html.ActionLink("Voltar", "Index", "Home")
</head>
<body>
    <div> 
    </div>
</body>
</html>
