
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Conta</title>
</head>
<body>
    <div>
        <form>
            <div>
                <label for="">Nome:</label>
                <input type="text" value="@Session["nomeLogado"]" />
            </div>

            <div>
                <label for="">Email:</label>
                <input type="text" value="@Session["emailLogado"]" name="" id="">
            </div>


            <div>
                <label for="">Email:</label>
                <input type="text" value="@Session["senhaLogado"]" name="" id="">
            </div>


            <div>
                <label for="">Email:</label>
                <input type="text" value="@Session["telLogado"]" name="" id="">
            </div>

            <input type="submit" value="Alterar" />
        </form>
    </div>
</body>
</html>
